<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuwohe.communitymis.mapper.InformationMapper">

    <resultMap id="BaseResultMap" type="com.liuwohe.communitymis.entity.Information">
            <id property="houseId" column="house_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="homeowner" column="homeowner" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="idcard" column="idcard" jdbcType="VARCHAR"/>
            <result property="liveRole" column="live_role" jdbcType="VARCHAR"/>
            <result property="nation" column="nation" jdbcType="VARCHAR"/>
            <result property="unitId" column="unit_id" jdbcType="VARCHAR"/>
            <result property="houseNum" column="house_num" jdbcType="VARCHAR"/>
            <result property="saveDate" column="save_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        house_id,user_id,homeowner,
        age,sex,phone,
        idcard,live_role,nation,
        unit_id,house_num,save_date
    </sql>
    <select id="statistics" resultType="java.util.LinkedHashMap">
        select ru.unit_name,count(ri.unit_id) total
        from resident_information ri left join resident_unit ru
            on ri.unit_id = ru.unit_id
        group by ri.unit_id
    </select>
</mapper>
