<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuwohe.communitymis.mapper.UnitMapper">

    <resultMap id="BaseResultMap" type="com.liuwohe.communitymis.entity.Unit">
            <id property="unitId" column="unit_id" jdbcType="VARCHAR"/>
            <result property="unitName" column="unit_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        unit_id,unit_name
    </sql>
</mapper>
